<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="trtlOCM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup>
    <userSettings>
        <trtlOCM.Properties.Settings>
            <setting name="savedPools" serializeAs="String">
                <value>trtl.ninja;z-pool.com;eu.turtlepool.space;</value>
            </setting>
            <setting name="savedSettings" serializeAs="String">
                <value />
            </setting>
        </trtlOCM.Properties.Settings>
    </userSettings>
</configuration>
